
.header {
    margin: 0px;
    padding: 0px;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    outline: 1px solid black;
}

.header h1, h2 {
    margin: 0px;
    padding: 0px;
    padding-left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .links {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.errors {
    font-size: 10px;
    list-style: none;
}

.main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-body div {
    padding: 5px;
}



.box {
    overflow: auto;
    border: 1px solid black;
}


label{
    
    width: 220px;

}